/.idea/uiDesigner.xml
/.idea/workspace.xml
/.gradle/
/.settings/
/bin/
/bin-debug/
/bin-release/
/build/
.DS_Store
.actionScriptProperties
.flexLibProperties
.project
local.properties

# Ingore VSCode configuration directory
.vscode

# Ingore cusotme font file
src/assets/fonts/WawaSC-Regular.otf


all-temp-commits.log